<section class="container">
    <h2>Todo</h2>
    
    <p ng-repeat="todo in todos track by $index">
        <input type="checkbox" ng-change="updateTodo(todo)" ng-model="todo.done"/>
        <input type="text" ng-change="updateTodo(todo)" ng-model="todo.name">
        <button ng-click="removeTodo(todo)"> X </button>
    </p>
    
    <form ng-submit="addTodo()">
        <input type="text" ng-model="formData.txt"></input> 
        <input type="submit" value="Add Todo"> 
    </form>

    <button ng-click="removeDone()"> Clear Completed </button>
    <button ng-click="removeAll()"> Clear All </button>

</section>