<section class="container">
    <h2>Todo List</h2>
    
    <ul ng-repeat="todo in reverse(todos) track by $index">
        <li class="todo-item">
            <input type="checkbox" ng-change="updateDone(todo)" ng-model="todo.done"/>
            <input type="text" ng-change="updateText(todo)" ng-model="todo.name">
            <button ng-click="removeTodo(todo)" class="remove-button"> x </button>
        </li>
    </ul>
    
    <br><br>
    
    <ul ng-repeat="d_todo in reverse(done_todos) track by $index">
        <li class="todo-item">
            <input type="checkbox" ng-change="updateDone(d_todo)" ng-model="d_todo.done"/>
            <input type="text" ng-change="updateText(d_todo)" ng-model="d_todo.name">
            <button ng-click="removeTodo(d_todo)" class="remove-button"> x </button>
        </li>
    </ul>
    
    <form ng-submit="addTodo()">
        <input type="text" ng-model="formData.txt"></input> 
        <input type="submit" value="Add Todo"> 
    </form>

    <button ng-click="removeDone()"> Clear Completed </button>
    <button ng-click="removeAll()"> Clear All </button>

</section>